body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #79addc 0%, #42FBF2 100%);
}
.container {
    position: relative;
}

#top-right-button {
    border-radius: 10px;
    margin-top: 10%; /* Adjust the top value to control the distance from the top */
    right: 10px; /* Adjust the right value to control the distance from the right */
    background-color: rgba(0,0,0, 0.3);
    color: white;
    padding: 10px 20px;
    font-family: "Courier New", serif;
    cursor: pointer;
    border: none;

}
.box
{

    border-radius: 10px;
    width: 550px;
    background: rgba(0,0,0, 0.3);
    padding:40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-family: "Courier New", serif;
    
}
.box-img
{
    border-radius: 10%;
    width: 130px;
    height:200px;

}
.box h1
{
    font-size:30px ;
    font-weight: 100;

}
.box h2{
    font-size: 25px;
    font-weight: 100;

}
.box p
{
    text-align: center;

}
 

